.body {
  background-color: pink;
  font-family: 'Montserrat', sans-serif;
}

::selection {
  background-color: #333333;
  color: white;
}

.navbar-smkn img{
  width: 35px;
}

.navbar {
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.navbar-nav .nav-link {
  color: black;
  transition: color 0.3s ease;
}

.navbar-nav .nav-link:hover {
  color: blue;
}

.navbar-nav .nav-link {
  color: black;
  position: relative;
  display: inline-block;
  padding-bottom: 5px;
}

.navbar-nav .nav-link::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  display: block;
  background: blue;
  transition: width 0.3s ease-in-out;
  left: 0;
  bottom: 0;
}

.navbar-nav .nav-link:hover::after {
  width: 100%;
}

main {
  margin: 25px 5px;
}

.kegedean {
  font-family: Futura;
  text-align: center;
  margin: 0;
  margin-top: 40px;
}

.kebiruan {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: #202942;
  margin: 5px;
}

.birutxt {
  text-align: center;
  font-size: 20px;
  color: #434343;
  margin-top: 18px;
}

.minus {
  margin: -120px 0 0 0;
}

.minus p {
  font-size: 16px;
}

.minus img {
  width: 170px;
  margin: 0 0 40px 0;
}

.card {
  width: 180px;
  font-size: 10px;
  margin: 3px 0;
}

  footer {
  background-color: #202942;
  color: #A9B5BD;
  padding: 1rem 0;
  font-size: 10px;
}

.jarak {
  margin: 70px 0 0;
}

.terkutuk {
  color: red;
  background-color: black;
}

@media screen and (min-width: 1024px) {
.kegedean {
  font-family: Futura;
  font-size: 100px;
  text-align: center;
  margin: 0;
  margin-top: 70px;
}
.minus p {
  font-size: 20px;
}
.minus img {
  width: 220px;
  margin: 0 0 0 0;
}
.card {
  width: 350px;
  font-size: 17px;
  margin: 10px 0;
}
.jarak {
  margin: 120px 0 0;
}
footer {
  background-color: #202942;
  color: #A9B5BD;
  padding: 1rem 0;
  font-size: 15px;
}
.animasi {
  transition 0.3;
  overflow: hidden;
}
.animasi:hover {
  position: relative;
  transform: scale(0.98);
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transform: scale(0.98);
  -moz-transform: scale(0.98);
  -ms-transform: scale(0.98);
  -o-transform: scale(0.98);
}
img{
  transition: transform 0.3s;
  width: 100%;
  height: auto;
}
.animasi:hover img {
  transform: scale(1.1);
}
}